{% extends "layout.html" %}
    {% block content %}

        {% for wine in wines %}

            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ wine.type }}</a>
                        <small class="text-muted">{{ wine.date }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ wine.name }}</a> - <a class="article-grape" href="#">{{ wine.grape }}</a></h2>
                    <p class="article-picture">{{ wine.picture }}</p>
                    <p class="article-rating">{{ wine.rating }}</p>
                </div>
            </article>

        {% endfor %}

    {% endblock content %}
